<!-- File name: footer.ejs
Student Name: Nithya Sheena Sham Sundar
Student Id: 301180859
Date : 30/09/2021 -->
<!-- bottom copyright bar -->
<footer>
<nav class="navbar fixed-bottom navbar-light" style="background-color:pink;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white; font-size: small; text-align: center">
        &copy; Copyright 2021 Nithya Sheena Sham Sundar. All Rights Reserved.</a>
    </div>
  </nav>
  </footer>