<!-- File name: header.ejs
Student Name: Nithya Sheena Sham Sundar
Student Id: 301180859
Date : 30/09/2021 -->
<!-- header -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='@fortawesome/fontawesome-free/css/all.min.css' />
  </head>
  </head>