<!-- File name: index.ejs
Student Name: Nithya Sheena Sham Sundar
Student Id: 301180859
Date : 30/09/2021 -->
<!-- index page containing library files  -->
<body style="padding-top: 80px;overflow-x: hidden;">
    <script src="scripts/immediateInvokingFunctions.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="@fortawesome/fontawesome-free/js/all.min.js"></script>
  </body>
</html>
